:root {
    --bg-color: #fafafa;
    --inverted-bg-color: #282c34;
    --primary-color: #282c34;
    --inverted-primary-color: #fafafa;
    --secondary-color: #425372;
    --inverted-secondary-color: #ded2a7;
    --success-color: #8cd481;
    --error-color: #c95b39;
}
