.Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    margin: 10px 0;

    div {
        justify-content: space-between;
    }
}

.tablo {
    font-size: 60px;
}
